In [6]:
import pandas as pd 
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 
##from bubbly.bubbly import bubbleplot 
from __future__ import division
##from plotly.offline import init_notebook_mode, iplot
##init_notebook_mode()
IS_LOCAL = False
import os
if(IS_LOCAL):
    PATH="../H1/INPUT"
else:
    PATH="../H1/INPUT"
print(os.listdir(PATH))

['database.csv']

DATA LOADING AND EXPLORATORY DATA ANALYSIS

In [7]:
events_df = pd.read_csv(PATH+"/database.csv")

In [8]:
print("Earthaquakes data -  rows:",events_df.shape[0]," columns:", events_df.shape[1])

Earthaquakes data -  rows: 23412  columns: 21

In [9]:
events_df.head(5)

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

In [10]:
events_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23412 entries, 0 to 23411
Data columns (total 21 columns):
Date                          23412 non-null object
Time                          23412 non-null object
Latitude                      23412 non-null float64
Longitude                     23412 non-null float64
Type                          23412 non-null object
Depth                         23412 non-null float64
Depth Error                   4461 non-null float64
Depth Seismic Stations        7097 non-null float64
Magnitude                     23412 non-null float64
Magnitude Type                23409 non-null object
Magnitude Error               327 non-null float64
Magnitude Seismic Stations    2564 non-null float64
Azimuthal Gap                 7299 non-null float64
Horizontal Distance           1604 non-null float64
Horizontal Error              1156 non-null float64
Root Mean Square              17352 non-null float64
ID                            23412 non-null object
Source                        23412 non-null object
Location Source               23412 non-null object
Magnitude Source              23412 non-null object
Status                        23412 non-null object
dtypes: float64(12), object(9)
memory usage: 3.8+ MB

In [11]:
events_df.describe()

,Latitude,Longitude,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Error,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square
count,23412.000000,23412.000000,23412.000000,4461.000000,7097.000000,23412.000000,327.000000,2564.000000,7299.000000,1604.000000,1156.000000,17352.000000
mean,1.679033,39.639961,70.767911,4.993115,275.364098,5.882531,0.071820,48.944618,44.163532,3.992660,7.662759,1.022784
std,30.113183,125.511959,122.651898,4.875184,162.141631,0.423066,0.051466,62.943106,32.141486,5.377262,10.430396,0.188545
min,-77.080000,-179.997000,-1.100000,0.000000,0.000000,5.500000,0.000000,0.000000,0.000000,0.004505,0.085000,0.000000
25%,-18.653000,-76.349750,14.522500,1.800000,146.000000,5.600000,0.046000,10.000000,24.100000,0.968750,5.300000,0.900000
50%,-3.568500,103.982000,33.000000,3.500000,255.000000,5.700000,0.059000,28.000000,36.000000,2.319500,6.700000,1.000000
75%,26.190750,145.026250,54.000000,6.300000,384.000000,6.000000,0.075500,66.000000,54.000000,4.724500,8.100000,1.130000
max,86.005000,179.998000,700.000000,91.295000,934.000000,9.100000,0.410000,821.000000,360.000000,37.874000,99.000000,3.440000

In [12]:
np.shape(events_df)

(23412, 21)

In [13]:
see_cat=['Type','Magnitude Type','Source','Status']
for x in see_cat:
    print(events_df[x].value_counts(),'\n')

Earthquake           23232
Nuclear Explosion      175
Explosion                4
Rock Burst               1
Name: Type, dtype: int64

MW     7722
MWC    5669
MB     3761
MWB    2458
MWW    1983
MS     1702
ML       77
MWR      26
MD        6
MH        5
Name: Magnitude Type, dtype: int64

US           20630
ISCGEM        2460
ISCGEMSUP      120
CI              61
GCMT            55
NC              51
AK              12
OFFICIAL         8
UW               6
NN               4
ATLAS            3
SE               1
PR               1
Name: Source, dtype: int64

Reviewed     20773
Automatic     2639
Name: Status, dtype: int64

In [16]:
data=events_df.copy()
data.dropna(inplace=True)
data

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
565,12/20/1966,15:30:01,37.302167,-116.408333,Nuclear Explosion,1.20,31.61,16.0,5.62,ML,...,10.0,261.00,1.476000,99.000,0.8600,CI3329931,CI,CI,CI,Reviewed
897,04/26/1968,15:00:02,37.295333,-116.455667,Nuclear Explosion,1.20,31.61,17.0,5.63,ML,...,6.0,261.00,1.438000,99.000,1.0300,CI3342128,CI,CI,CI,Reviewed
1129,12/19/1968,16:30:01,37.231500,-116.473667,Nuclear Explosion,1.40,31.61,16.0,5.52,ML,...,6.0,257.00,1.415000,99.000,1.3600,CI3342181,CI,CI,CI,Reviewed
1380,09/16/1969,14:30:01,37.314167,-116.460667,Nuclear Explosion,1.20,31.61,13.0,5.82,ML,...,8.0,268.00,1.437000,99.000,0.3300,CI3326197,CI,CI,CI,Reviewed
1532,03/26/1970,19:00:01,37.300500,-116.534167,Nuclear Explosion,1.20,31.61,16.0,5.54,ML,...,10.0,260.00,1.377000,99.000,0.3500,CI3325031,CI,CI,CI,Reviewed
2723,06/06/1973,13:00:01,37.245000,-116.346000,Nuclear Explosion,1.10,31.61,17.0,5.64,ML,...,8.0,259.00,1.517000,99.000,0.5500,CI3319623,CI,CI,CI,Reviewed
3307,11/22/1974,16:25:34,30.250000,-114.800000,Earthquake,6.00,31.61,20.0,5.55,ML,...,4.0,312.00,2.641000,99.000,3.2200,CI3319062,CI,CI,CI,Reviewed
3516,06/26/1975,12:30:01,37.278833,-116.368667,Nuclear Explosion,6.00,31.61,19.0,5.52,ML,...,13.0,260.00,1.504000,99.000,3.4400,CI12328563,CI,CI,CI,Reviewed
3673,10/28/1975,14:30:00,37.290167,-116.411500,Nuclear Explosion,1.30,31.61,19.0,5.67,ML,...,8.0,260.00,1.472000,99.000,2.7500,CI3006257,CI,CI,CI,Reviewed
3754,01/03/1976,19:15:01,37.296500,-116.333167,Nuclear Explosion,1.50,31.61,20.0,5.84,ML,...,8.0,261.00,1.534000,99.000,0.4400,CI3001652,CI,CI,CI,Reviewed
5523,05/18/1980,15:32:11,46.207333,-122.188000,Earthquake,1.51,0.56,18.0,5.70,MD,...,1.0,62.00,0.008296,0.682,0.2200,UW10084803,UW,UW,UW,Reviewed
5631,09/07/1980,04:36:38,38.138333,-118.391333,Earthquake,6.00,31.61,5.0,5.52,ML,...,12.0,333.00,1.090000,8.020,0.3300,CI9735242,CI,CI,CI,Reviewed
18876,02/21/2008,14:16:03,41.144400,-114.872100,Earthquake,7.90,1.90,18.0,6.20,ML,...,4.0,95.21,0.318000,1.610,0.1855,NN00234425,NN,NN,NN,Reviewed
22238,05/28/2014,21:15:07,18.045000,-68.350900,Earthquake,90.00,2.00,31.0,5.80,ML,...,12.0,262.80,0.467124,2.900,0.4100,PR14148004,PR,PR,PR,Reviewed

In [17]:
np.shape(data)

(14, 21)

In [18]:
data.describe()

,Latitude,Longitude,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Error,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square
count,14.000000,14.000000,14.000000,14.000000,14.00000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000
mean,36.381374,-113.313869,9.107857,25.155000,17.50000,5.683571,0.185571,7.857143,243.715000,1.263887,71.658000,1.105393
std,6.223248,13.061325,23.409757,12.830853,5.43139,0.186325,0.112853,3.438630,73.779696,0.645196,44.890998,1.156766
min,18.045000,-122.188000,1.100000,0.560000,5.00000,5.520000,0.000000,1.000000,62.000000,0.008296,0.682000,0.185500
25%,37.253458,-116.470417,1.200000,31.610000,16.00000,5.542500,0.123500,6.000000,259.250000,1.161750,30.765000,0.335000
50%,37.295917,-116.409917,1.450000,31.610000,17.50000,5.635000,0.171000,8.000000,260.500000,1.437500,99.000000,0.495000
75%,37.311167,-116.336375,6.000000,31.610000,19.00000,5.775000,0.238500,10.000000,262.350000,1.497000,99.000000,1.277500
max,46.207333,-68.350900,90.000000,31.610000,31.00000,6.200000,0.410000,13.000000,333.000000,2.641000,99.000000,3.440000